// Alert styles

.alert {
    border: 0;

    .close {
        border: 0;
        outline: 0;
    }
}

.alert-primary {
    border-left: 3px solid #007bff;
}

.alert-info {
    border-left: 3px solid #007bff;
}

.alert-danger {
    border-left: 3px solid #ca0014;
}

.alert-warning {
    border-left: 3px solid #daa300;
}

.alert-success {
    border-left: 3px solid #28a745;
}
