// Alert styles

.alert {
    border: 0 !important;
}

.alert-primary {
    border-left: 3px solid #007bff !important;
}

.alert-info {
    border-left: 3px solid #007bff !important;
}

.alert-danger {
    border-left: 3px solid #ca0014 !important;
}

.alert-warning {
    border-left: 3px solid #daa300 !important;
}

.alert-success {
    border-left: 3px solid #28a745 !important;
}
