// Body and general layout

body {
    background-color: var(--light-bg); /* fallback */
    background-color: light-dark(var(--light-bg), var(--dark-bg));
    color: var(--light-color) !important; /* fallback */
    color: light-dark( var(--light-color), var(--dark-color)) !important;
}

.page-header {
    background-color: light-dark(white, #000);
    color: light-dark( var(--light-color), var(--dark-color)) !important;
    padding-top: 0.75rem;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sticky-top {
        top: 3.2rem !important;
    }
}
