// FMCamps custom dialog styles

.dialog-fmc-success {
    color: light-dark(#008000, #00ff00);
    text-align: center;
}

.dialog-fmc-error {
    color: light-dark(#c20000, #ff4141);
    text-align: center;
}

.dialog-fmc-warning {
    color: light-dark(#ca9800, #ffda5f);
    text-align: center;
}

.dialog-fmc-icon {
    font-size: 2.5em;
    margin-top: 0.35em;
    margin-bottom: 0.25em;
    display: block;
}

.dialog-fmc-wait {
    color: #888;
    font-size: 0.88em;
    font-weight: 400;
    margin-top: 0.5em;
    display: block;
}

.dialog-fmc-wait strong {
    font-size: 1.25em;
    font-weight: 700;
    margin-left: 0.2em;
}
