// Pagination

.page-link {
    color: white;
    background-color: #ac5802;
    border: 1px solid #d18e47;
}

.page-link:hover {
    background-color: #dd7102;
    font-weight: 500;
    border-color: inherit;
    color: inherit;
}
